#weather_box {
  position: fixed;
  right: 10px;
  top: 10px;
}

.weather {
  font-weight: bold;
  font-size: 20px;
  font-family: helvetica, sans-serif;
}

.city {
  font-weight: bold;
  font-size: 15px;
  font-family: helvetica, sans-serif;
}

#city {
  border-style: none solid solid none;
  border-width: medium 0px 1px medium;
  outline: none;
  resize: none;
  margin-top: 10px;
  font-size: 100%;
}

#temp {
  font-size: 200px;
  font-family: monospace;
}

#central {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border-width: 2px;
  border: solid #99ccff;
}

#plus_button {
  margin-top: 10px;
  height: 50px;
  width: 50px;
  position: absolute;
  left: 65%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  top: 70%;
}

#minus_button {
  margin-top: 10px;
  height: 50px;
  width: 50px;
  position: absolute;
  left: 35%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  bottom: 13%;
}





/*.city {
  font-size: 200%;
}*/